.hero {
  height: 100vh;
  overflow: hidden;

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    text-align: center;
    width: 100%;
    line-height: 8rem;
    font-size: 12rem;
    background: -webkit-linear-gradient(red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.grid-lines {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__stroke + &__stroke {
    border-left: 1px solid black;
  }
}

.marquee {
  &__wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
  }

  &__background {
    transform: rotate(45deg) scale(2);
  }

  &__row {
    width: 150vw;
    height: 10rem;
    overflow: hidden;
    font-size: 10rem;
    text-transform: uppercase;
    p {
      padding: 0 2rem;
      font-family: fort, sans-serif;
    }
  }
}
