.experience {
  @apply text-stone-600 dark:text-stone-400 duration-400;
  width: calc(100% + 0.5px);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);

  &__img {
    @apply duration-400 opacity-60 align-middle;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  svg {
    @apply duration-400;
  }

  &:hover {
    @apply text-black dark:text-white;

    svg {
      @apply opacity-50;
    }

    .experience__img {
      @apply opacity-100;
    }
  }
}

.timeline {
  @apply relative mt-6 pb-8;

  &:after {
    @apply absolute w-px bg-black/20 dark:bg-white/20 top-0 bottom-0 left-8 -ml-3;
    content: "";
  }
}
