@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

html {
  @apply bg-white dark:bg-black scroll-smooth;
}

html,
body {
  @apply p-0 m-0 overflow-x-hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-inherit no-underline;
}

* {
  @apply box-border;
}

/* curtains canvas container */

.curtains-canvas {
  @apply fixed top-0 left-0 w-screen h-screen pointer-events-none;
}

.fill-current-important svg * {
  @apply fill-current stroke-current !important;
}

.fill-theme svg * {
  @apply fill-black dark:fill-white;
}

.text-clamp {
  &-8xl {
    font-size: clamp(1rem, 15vw, 8rem);
    line-height: clamp(0.8rem, 14vw, 7rem);
  }

  &-6xl {
    font-size: clamp(0.8rem, 10vw, 3.5rem);
    line-height: clamp(0.6rem, 10vw, 3.5rem);
  }

  &-5xl {
    font-size: clamp(0.8rem, 10vw, 2.8rem);
    line-height: clamp(0.6rem, 10vw, 2.5rem);
  }

  &-4xl {
    font-size: clamp(0.6rem, 6vw, 1.5rem);
  }
}

.max-h-75vh {
  height: 75vh;
}
