.icon-button {
  @apply duration-200;

  svg {
    @apply -mr-24px opacity-0 duration-200;
  }

  &:hover svg {
    @apply opacity-100 mr-0;
  }
}

.grid-lines {
  &__stroke + &__stroke {
    @apply border-0 md:border-l border-solid border-black dark:border-white;
  }

  &__stroke--light + &__stroke--light {
    @apply border-l border-solid border-black/20 dark:border-white/20;
  }
}

.card {
  @apply text-stone-600 dark:text-stone-400 duration-400;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);

  /* Right side of card doesn't line up correctly. */
  @media (min-width: 768px) {
    width: calc(100% + 1px);
  }

  a,
  &__btn,
  &__icon,
  &__img {
    @apply duration-400;
  }

  a:not(.icon-button) {
    @apply text-blue-700/70 dark:text-blue-300/70;
  }

  &__btn {
    @apply text-white bg-black/80 dark:text-black dark:bg-white/80;
  }

  &__img {
    @apply opacity-60;
  }

  &:hover {
    @apply text-black dark:text-white;

    a:not(.icon-button) {
      @apply text-blue-700 dark:text-blue-300;
    }

    .card__btn {
      @apply bg-black dark:bg-white;
    }

    .card__icon {
      @apply opacity-50;
    }

    .card__img {
      @apply opacity-100;
    }
  }
}

.warning-status:after {
  @apply absolute left-0 top-0 h-2 w-2 rounded-full;
  box-shadow: 0 0 0 2px;
  transition: opacity 250ms;
  content: "";
  animation: pulsate 3s ease infinite;
}

.timeline {
  @apply relative mt-6 pb-8;

  &:after {
    @apply absolute w-px bg-black/20 dark:bg-white/20 top-0 bottom-0 left-8 -ml-3;
    content: "";
  }
}

/* https://codepen.io/silas/pen/rNYqZoz */
.gradient-blur {
  position: fixed;
  top: -24px;
  left: 0;
  right: 0;
  height: 164px;
  pointer-events: none;
}

.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}

.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}

.gradient-blur > div:nth-of-type(4) {
  z-index: 2;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}

.gradient-blur > div:nth-of-type(3) {
  z-index: 2;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}

.gradient-blur > div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}

.gradient-blur > div:nth-of-type(1) {
  z-index: 4;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}

.gradient-blur::after {
  content: "";
  z-index: 5;
  backdrop-filter: blur(0px);
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 87.5%,
    rgba(0, 0, 0, 1) 100%
  );
}

.w-marquee {
  width: 200vw;
}

.navigation-backdrop--contrast {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.backdrop--contrast {
  background: radial-gradient(
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

@media (prefers-color-scheme: dark) {
  .navigation-backdrop--contrast {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .backdrop--contrast {
    background: radial-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 70%);
  }
}

@media (min-width: 768px) {
  .w-marquee {
    width: 100vw;
  }

  .backdrop--contrast {
    background: transparent;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
