html {
  background-color: white;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

.snap-track {
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    height: 5px;
    border: 5px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 9999px;
    background-color: rgba(139, 139, 139, 0.5);
    background-clip: padding-box;
  }

  &::-webkit-scrollbar {
    height: 15px;
  }
}

.w-50px {
  width: 50px;
}

.text-clamp {
  &-8xl {
    font-size: clamp(1rem, 15vw, 8rem);
    line-height: clamp(0.8rem, 14vw, 7rem);
  }

  &-6xl {
    font-size: clamp(0.8rem, 10vw, 4rem);
    line-height: clamp(0.6rem, 10vw, 3.5rem);
  }

  &-4xl {
    font-size: clamp(0.6rem, 6vw, 1.5rem);
    // line-height: clamp(0.4rem, 8vw, 2rem);
  }
}

.button {
  &-w-icon {
    transition-duration: 200ms;

    svg {
      transition-duration: 200ms;
      opacity: 0;
      margin-right: -24px;
    }
    &:hover {
      svg {
        opacity: 1;
        margin-right: 0px;
      }
    }
  }
}

.fill-theme {
  svg * {
    fill: black;
  }
}

.grid-lines {
  &__stroke + &__stroke {
    border-left: 1px solid black;
  }
}

.navigation-backdrop--contrast {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 20%,
    rgba(255, 255, 255, 0) 100%
  );
}

.backdrop--contrast {
  background: radial-gradient(
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: black;
  }

  .fill-theme {
    svg * {
      fill: white;
    }
  }

  .grid-lines {
    &__stroke + &__stroke {
      border-left: 1px solid white;
    }
  }

  .navigation-backdrop--contrast {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .backdrop--contrast {
    background: radial-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 70%);
  }
}

.h-2x-screen {
  height: 200vh;
}

.w-2x-screen {
  width: 200vw;
}

@media (min-width: 768px) {
  .h-2x-screen {
    height: 100vh;
  }

  .w-2x-screen {
    width: 100vw;
  }
}

.text-10xl {
  font-size: 12rem;
  line-height: 10rem;
}
