@import "projects.css";
@import "experiences.css";

.icon-button {
  @apply duration-200;

  svg {
    @apply -mr-24px opacity-0 duration-200;
  }

  &:hover svg {
    @apply opacity-100 mr-0;
  }
}

.grid-lines {
  &__stroke + &__stroke {
    @apply border-0 md:border-l border-solid border-black dark:border-white;
  }

  &__stroke--light + &__stroke--light {
    @apply border-l border-solid border-black/20 dark:border-white/20;
  }
}

.navigation-backdrop--contrast {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 20%,
    rgba(255, 255, 255, 0) 100%
  );
}

.backdrop--contrast {
  background: radial-gradient(
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

.w-marquee {
  width: 200vw;
}

@media (min-width: 768px) {
  .w-marquee {
    width: 100vw;
  }
}

@media (prefers-color-scheme: dark) {
  .navigation-backdrop--contrast {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .backdrop--contrast {
    background: radial-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 70%);
  }
}
