.icon-button {
  @apply duration-200;

  svg {
    @apply -mr-24px opacity-0 duration-200;
  }

  &:hover svg {
    @apply opacity-100 mr-0;
  }
}

.grid-lines {
  &__stroke + &__stroke {
    @apply border-0 md:border-l border-solid border-black dark:border-white;
  }

  &__stroke--light + &__stroke--light {
    @apply border-l border-solid border-black/20 dark:border-white/20;
  }
}

.link-card {
  &:hover .has-links a {
    @apply text-blue-700 dark:text-blue-300 !important;
  }

  .has-links a {
    @apply duration-400 text-blue-700/70 dark:text-blue-300/70 !important;

    &:hover {
      @apply underline;
    }
  }
}

.navigation-backdrop--contrast {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.card {
  @apply text-stone-600 dark:text-stone-400 duration-400;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);

  /* Right side of card doesn't line up correctly. */
  @media (min-width: 768px) {
    width: calc(100% + 1px);
  }

  &__btn {
    @apply duration-400 text-white bg-black/80 dark:text-black dark:bg-white/80;
  }

  &__icon {
    @apply duration-400;
  }

  &__img {
    @apply duration-400 opacity-60;
  }

  &:hover {
    @apply text-black dark:text-white;

    .card__btn {
      @apply duration-400 bg-black dark:bg-white;
    }

    .card__icon {
      @apply opacity-50;
    }

    .card__img {
      @apply opacity-100;
    }
  }
}

.warning-status:after {
  @apply absolute left-0 top-0 h-2 w-2 rounded-full;
  box-shadow: 0 0 0 2px;
  transition: opacity 250ms;
  content: "";
  animation: pulsate 3s ease infinite;
}

.timeline {
  @apply relative mt-6 pb-8;

  &:after {
    @apply absolute w-px bg-black/20 dark:bg-white/20 top-0 bottom-0 left-8 -ml-3;
    content: "";
  }
}

.w-marquee {
  width: 200vw;
}

.backdrop--contrast {
  background: radial-gradient(
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

@media (min-width: 768px) {
  .w-marquee {
    width: 100vw;
  }

  .backdrop--contrast {
    background: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  .navigation-backdrop--contrast {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .backdrop--contrast {
    background: radial-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 70%);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
