.project {
  @apply text-black/60 dark:text-white/60 duration-400;
  width: calc(100% + 0.5px);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);

  &__btn {
    @apply duration-400 text-white bg-black/60 dark:text-black dark:bg-white/60;
  }

  &__img {
    @apply duration-400 opacity-75 px-4 pt-4;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  img {
    @apply rounded-xl duration-400;
  }

  &:hover {
    @apply text-black dark:text-white mb-96 md:mb-8;

    .project__btn {
      @apply duration-400 bg-black dark:bg-white;
    }

    .project__img {
      @apply opacity-100 p-0;
    }

    img {
      @apply rounded-t-xl rounded-b-none;
    }
  }
}
